h1 {
    text-align: center;
    font-family: Bookvica;
    font-size: 33pt;
    line-height: 60pt;
}

h1 > span {
    display: none;
}

.bukvica {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    vertical-align: center;
    font-family: Bookvica;
    font-size: 40pt;
}

td {
    white-space: nowrap;

    line-height: 16pt;
    padding: 16pt;
}

td > span {
    font-size: 9pt;
    line-height: 7pt;
}

body {
    /*background-image: url("images/tochki.jpg"); !* Путь к фоновому изображению *!*/
    background-color: #c7b39b; /* Цвет фона */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1000px;
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}